@using Avans.UI.DTOs;
@using System.Security.Claims;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int employeeid = Convert.ToInt32(User.FindFirst(ClaimTypes.NameIdentifier)?.Value);
}
@model AdvanceInsertDTO
<style>
    
    body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
        }

        .form-container {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input, select {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
            resize: vertical;
        }

        .buttons-container {
            display: flex;
            justify-content: space-between;
        }

        .btn {
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            width: 48%;
        }

        .btn-danger {
            background-color: #dc3545;
            color: #fff;
        }

        .btn-success {
            background-color: #28a745;
            color: #fff;
        }

</style>

<form asp-controller="Advance" asp-action="AddAdvance" method="post">
    @Html.AntiForgeryToken()

    <div class="form-container">
        <label for="avansMiktari">Avans Miktarı:</label>
        <input asp-for="AdvanceAmount" type="text" id="avansMiktari" name="AdvanceAmount" placeholder="Avans miktarını giriniz">

        <label  for="istenilenTarih">İstenilen Tarih:</label>
        <input asp-for="DesiredDate" type="date"  id="istenilenTarih" name="DesiredDate">

        <label for="projeler">Projeler:</label>
        <select asp-for="ProjectID" id="projeler" name="ProjectID">
            @foreach (var item in ViewBag.project)
            {
                <option value="@item.ID">@item.ProjectName</option>
                
            }

        </select>

        <label for="aciklama">Açıklama:</label>
        <textarea asp-for="AdvanceDescription" id="aciklama" name="AdvanceDescription" rows="4" placeholder="Açıklama giriniz"></textarea>

        <br>
        <input asp-for="@Model.EmployeeID" type="hidden" value="@employeeid" />
        <div class="buttons-container">
            <button class="btn btn-danger">Vazgeç</button>
            <button type="submit" class="btn btn-success">Kaydet</button>
        </div>
    </div>
</form>

